<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FishingWithGit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <FishingWithGit.Properties.Settings>
            <setting name="RealGitProgramFolder" serializeAs="String">
                <value>C:\Program Files\Git\Git\</value>
            </setting>
            <setting name="BackupSourcePath" serializeAs="String">
                <value>C:\Program Files\Git\</value>
            </setting>
            <setting name="ShouldLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WipeLogsOlderThanDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FireHookLogic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CleanCArguments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemoveTemplateFromClone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProcessTimeoutWarning" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="PrintSeparateArgs" serializeAs="String">
                <value>True</value>
            </setting>
        </FishingWithGit.Properties.Settings>
    </applicationSettings>
</configuration>